<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <header>
    <nav>
      <ul class="menu">
        <li class="logo"><img src="images/logo.png" alt="Logo">TechAlpha</li>
        <li><a href="/">Today</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/urgent">Urgent</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
  </header>
